extends layout

block content
  div(class="dropdown")
  form(name="selectForm")
    select(id="items" name="items" onchange="change(this)")
      option(value="" selected) 新規
  div(id="document")
  script(src="/js/document.js")
  link(rel="stylesheet", href="/css/document.css")
