extends layout

block content
  p(id="userName") #{user}
  ul#messages
  form(action="")
    input#message(autocomplete="off")
    button Send
  button(id="msgExport", type="button") Export
  button(id="msgDelete", type="button") Delete
  p
    a(href="/logout") Logout
  button(id="document") メモ
  script(src="/js/chat.js")
  link(rel="stylesheet", href="/css/style.css")
