doctype html
html
  head
    title = #{title}
    link(rel="stylesheet", href="/css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/js/jquery-2.1.4.min.js")
  body
    block content
