<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <button>Login</button>
    </form>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
  </body>
</html>
