body { background-color: #6495ED}
.container { margin-top: 10px; }
.bg { background-color: #f0f8ff; }
.rd { border-radius: 10px; }
.col1 { float: left; }
.col2 { float: right; }
.btm { position: fixed; bottom: 0; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background-color: #ccc; }
#messages li:nth-child(even) { background-color: #eee; }
